:root {
  /* 🎨 Paleta de colores */
  --color-bgw: #f7f7f7;
  --color-bgd: #262a31;
  --color-bgs: rgb(255, 160, 122);
  --color-text: #111111;
  --color-text-alt: #f0f0f0;
  --color-primary-hover: #99bb93;
  --color-muted: #6b9d62;
  --color-outline: #dddddd;


  /* ✍️ Tipografía */
  --font-family-text: 'inter', sans-serif;
  --font-family-headings: 'poppins', sans-serif;
  --font-size-base: 1.6rem;
  --font-size-xsm: 1rem;
  --font-size-sm: 1.4rem;
  --font-size-md: 2.2rem;
  --font-size-lg: 3.2rem;
  --fon-size-xlg: 4.8rem;

  --fluid-font-size-small: clamp(
    var(--font-size-xsm),
    4vw,
    var(--font-size-md)
  );

  /* 📐 Espacio */
  --space-xs: .5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 4rem;

  /* 🧱 Extras */
  --btn_radius: 100vmax;
  --radius: .5rem;
  --shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  --border: .1rem solid rgba(0, 0, 0, 0.5);
  --vertical-area: .1rem;
  --horizontal-area: .1rem;
  --debug: 1px solid red;
    --gradient: linear-gradient(
    to bottom in oklab,
    oklch(0% 0.00 340 / 50%) 0%, 100%, oklch(0% 0.00 200 / 50%) 0% 0%
  );
}

/* Fuentes locales */
@font-face {
  font-family: "inter";
  src: url("assets/fonts/inter.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "poppins";
  src: url("assets/fonts/poppins.ttf") format("truetype");
  font-display: swap;
}


/* 🌍 Estilos globales */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: clip;
}


body {
  background-color: var(--color-bgw);
  color: var(--color-text);
  font-family: var(--font-family-text);
  font-size: var(--font-size-base);
  position: relative;
}


a {
  text-decoration: none;
  color: var(--color-text);
  display: inline-block;
  transition: color .3s ease-in-out;

  &:hover {
    color: var(--color-muted);
  }

  &:focus-visible {
    outline: var(--color-muted);
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

h1 {
  font-family: var(--font-family-headings);
  font-size: clamp(var(--font-size-md), 4vw, var(--fon-size-xlg));
  font-weight: normal;
}

h2 {
  font-family: var(--font-family-headings);
  font-size: clamp(var(--font-size-base), 4vw, var(--font-size-lg));
   font-weight: normal;
}

p {
  font-family: var(--font-family-text);
  font-size: clamp(var(--font-size-sm), 4vw, var(--font-size-md));
}

#sidebar{
  height: 100%;
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  transform: translateX(100%);
  background: linear-gradient(to bottom, #00000080 0%, 100%, #00000080 0% 0%);
  background: var(--gradient);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#sidebar:target {
  transform: translateX(0);
}

.c_hamburguesa{
  width: 100%;
  z-index: 2;
  padding: var(--space-md);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  animation: desplazar_-x ease-in-out;
  animation-timeline: scroll(root);
  animation-range: 100px 400px;
  animation-fill-mode: forwards;
}


.c_hamburguesa img {
  width: calc(var(--horizontal-area) * 25);
  height: calc(var(--vertical-area) * 25);
  border-radius: var(--radius);
  background-color: #7c6462;
  &:hover {
    background-color: var(--color-bgs);
  }
}

.barra_navegacion {
  height: 100%;
  background-color: var(--color-bgd);
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space-md);
}
/* .c_hamburguesa img, .c_cerrar img{
  width: calc(var(--horizontal-area) * 35);
  height: calc(var(--vertical-area) * 35);
  border-radius: var(--radius);
} */

.c_cerrar{
  width: 100%;
  text-align: center;
}

.c_cerrar img {
  width: calc(var(--horizontal-area) * 35);
  height: calc(var(--vertical-area) * 35);
  border-radius: var(--radius);
  background-color: var(--color-bgs);
}

.enlaces {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--space-sm) 0;
  justify-content: center;
  flex-grow: 1;
}

.enlaces a {
  color: var(--color-text-alt);
  border-bottom: var(--horizontal-area) dotted var(--color-bgs);
  font-size: clamp();

  &:hover {
    color: var(--color-bgs);
}
  &:focus-visible {
    outline: var(--color-bgs);
  }
}

.c_banner {
  max-width: 100%;
  position: relative;
}

.c_banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: oklab(100% 0 -0.00011);
  background: linear-gradient(180deg, oklch(100% 0.00011 271.152 / 0) 40%, oklab(0% 0 0 / 0.39) 85%);
}

.c_video_banner video {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;
}

.c_perfil {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--color-text-alt);
  z-index: 1;
}

.c_foto_perfil img {
  width: calc(var(--horizontal-area) * 80);
  height: calc(var(--vertical-area) * 80);
  border-radius: 50%;
  margin: 0 auto;
}

@media(min-width: 500px) and (max-width: 620px) {
  .c_foto_perfil img {
    width: calc(var(--horizontal-area) * 120);
    height: calc(var(--vertical-area) * 120);
  }
}

@media(min-width: 501px) and (max-width: 800px) {
  .c_foto_perfil img {
    width: calc(var(--horizontal-area) * 140);
    height: calc(var(--vertical-area) * 140);
  }
}

@media(min-width: 801px) {
  .c_foto_perfil img {
    width: calc(var(--horizontal-area) * 200);
    height: calc(var(--vertical-area) * 200);
  }
}

.c_foto_perfil{
  margin-bottom: var(--space-sm);
}

.titulo_perfil,
.texto_perfil {
  text-shadow: 2rem black; /* Necesita arreglo */
}

#biografia{
  text-align: center;
  padding: var(--space-md);
}

.titulo_biografia{
  margin-bottom: var(--space-sm);
}

.texto_biografia{
  margin-bottom: var(--space-md);
  line-height: 1.5;
}

#tecnologia{
  text-align: center;
}

#tecnologia h2{
  margin-block-end: var(--space-md);
}

#tecnologia P{
  margin-block: var(--space-sm);
}

#tecnologia progress[value] {
  width: calc(var(--horizontal-area) * 250);
  height: calc(var(--vertical-area) * 20);
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  border: var(--border);
}

#tecnologia progress[value]::-webkit-progress-bar {
  --_grey: #dcdcdc;
  background-color: var(--_grey);
}

progress[value]::-webkit-progress-value {
  background-color: var(--color-bgs);
}

#portafolio{
  text-align: center;
}

.titulo_portafolio{
  margin-block: var(--space-md);
}

#portafolio p{
  margin-block: var(--space-sm);
}

#portafolio img{
  max-width: 80%;
  aspect-ratio: 16 / 9;
  border: var(--border);
  margin-inline: auto;
  box-shadow: var(--shadow);
}

.c-degradado{
  position: relative;
}

.c.degradado::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: oklab(100% 0 -0.00011);
  background: linear-gradient(180deg, oklch(100% 0.00011 271.152 / 0) 40%, oklab(0% 0 0 / 0.39) 85%);
  background-color: red;
}

.boton {
  padding: var(--space-sm) var(--space-md);
  border: var(--color-text);
  border-radius: var(--btn_radius);
  box-shadow: var(--shadow);
  transition: hover .3s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: all .3s ease-in-out;
  font-size: clamp(var(--font-size-xsm), 4vw, var(--font-size-base));

  &:hover {
    background-color: var(--color-bgs);
    color: var(--color-text-alt);
  }
}

.contacto_titulo{
  margin-block: var(--space-sm);
  text-align: center;
}

.contacto_texto{
  padding: 0 var(--space-lg);
  margin-block-end: var(--space-sm);
}

.c_form{
  padding-inline: var(--space-sm);
}

form{
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  height: max-content;
  padding: var(--space-md);
  background-color: var(--color-bgd);
  color: var(--color-bgw);
  border-radius: var(--radius);
}

#nombre,
#email,
#telefono {
  color: var(--grey);
  padding: .7rem 1rem;
  border-radius: var(--btn_radius);
  border: none;
  outline: .1rem solid color(prophoto-rgb 0 0 0 / 20%);

  &::placeholder{
    color: color(prophoto-rgb 0 0 0 / 20%);
  }

  &:focus-visible{
    color: color(display-p3 0 0 0 / 40%);
    outline: .2rem solid var(--color-bgs);
    border: none;
  }
}

textarea{
 font-family: 'Times New Roman';
 font-size: var(--font-size-sm);
 margin-block-start: var(--space-sm);
 resize: both;
}

#boton_contacto {
  padding: var(--space-sm) var(--space-lg);
  margin-block-start: var(--space-sm);
  margin-inline: auto;
  border: var(--color-text);
  border-radius: var(--btn_radius);
  box-shadow: var(--shadow);
  transition: all .3s ease-in-out;
  font-size: clamp(var(--font-size-xsm), 4vw, var(--font-size-base));

  &:hover {
    background-color: var(--color-bgs);
    color: var(--color-text-alt);
  }
}

.sociales{
  max-width: 100%;
}

.c_enlaces_sociales{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-lg);
  gap: 0 var(--space-md);
}


/*=============================
          Animaciones
===============================*/
#biografia, #tecnologia, #portafolio, #contacto{
  animation: fade-in linear;
  /* animation-timeline: view(500px 10px); */
}

@keyframes fade-in {
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

@keyframes desplazar_-x {
  0% {
    scale: 0;
    transform: translateX(0vw);
  }

    50% {
    scale: .5;
    transform: translateX(-140vw);
  }

    75% {
    scale: .7;
    transform: translateX(26vw);
  }

    100% {
     scale: 1;
     transform: translateX(-88vw);
  }
}
